*,
::before,
::after {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    padding-top: 20px;
    /* border: 1px solid red; */
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

ul {
    display: flex;
    list-style: none;
    font-size: 18px;
    padding: 0;
    margin: 0;
    gap: 20px;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

a:visited {
    color: #E5E7EB;
}

.upper-container {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    gap: 50px;
    padding: 150px 150px 110px 150px;
    /* border: 1px solid red; */
}

.upper-content-text-1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.upper-content-text-2 {
    color: #E5E7EB;
    font-size: 18px;
}

.upper-sign-up-button button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 550;
    border: 1px solid #5994f3;;
    border-radius: 9px;
    padding: 8px 35px;
}

.upper-sign-up-button button:active {
    background-color: #5994f3;
    color: rgb(208, 208, 208);
    font-size: 18px;
    font-weight: 550;
    border: 1px solid #3882F6;
    border-radius: 9px;
    padding: 8px 35px;
}

.upper-left-content {
    display: flex;
    flex-flow: column wrap;
    width: 450px;
    gap: 10px;
    /* border: 1px solid red; */
}

.upper-right-content {
    color: #E5E7EB;
    background-color: rgba(128, 138, 143, 0.837);
    padding:110px 150px;
    font-size: 18px;
    /* border: 1px solid red; */
}

.upper-mid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 45px 150px 150px;
    border: 1px solid red;
}

.upper-mid-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding-bottom: 45px;
}

.upper-mid-content {
    display: flex;
    gap: 50px;
}

.upper-mid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 200px;
    font-size: 20px;
    text-align: center;
    /* border: 1px solid red; */
}

.upper-mid-content-image {
    width: 200px;
    height: 200px;
    border: 5px solid #3882F6;
    border-radius: 20px;
}
