*,
::before,
::after {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.upper-container {
    height: 500px;
    background-color: #1F2937;
    /* border: 1px solid red; */
}

.header {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.header-logo {
    color: #F9FAF8;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

a:visited {
    color: #F9FAF8;
}

.upper-content {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 150px;
    /* border: 1px solid red; */
}

.upper-left-content {
    display: flex;
    flex-flow: column wrap;
    width: 400px;
    /* border: 1px solid red; */
}

.upper-right-content {
    color: #E5E7EB;
    background-color: rgba(128, 138, 143, 0.837);
    padding: 80px 70px;
    /* border: 1px solid red; */
}